/* tiles */

.tile {
  @apply relative h-screen bg-no-repeat bg-center bg-cover;
}

.tile-content-wrapper {
  @apply container relative h-screen;
}

.tile-content {
  @apply absolute uppercase text-white md:w-1/2 lg:w-1/3 bottom-28 lg:bottom-36;
}

.tile-tag {
  @apply text-lg;
}

.tile-title {
  @apply text-[2.75rem] md:text-6xl font-bold my-0 lg:my-2;
}

.tile-button {
  @apply inline-block font-semibold border-2 md:text-base lg:text-sm px-14 py-4 my-4 lg:my-6 relative;
}

.tile-button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.5s;
  transform: scale3d(1, 0, 1);
  transform-origin: top center;
}

.tile-button:hover .overlay {
  transform: scale3d(1, 1, 1);
  transform-origin: bottom center;
}

.tile-button:hover > span {
  @apply text-black z-40 relative;
}

.scroll-down {
  @apply animate-scroll w-fit text-white absolute bottom-14 left-1/2 -translate-x-1/2;
}
