/* modal */
.modal {
  transform: translate(0, 100%);
  transform-origin: top center;
}

.modal-shown {
  transform: translate(0, 0);
  transform-origin: bottom center;
}

.move-up {
  @apply origin-top  -translate-y-full translate-x-0;
}
