/* modal */
.modal {
  transform: translate(0, 100%);
  transform-origin: top center;
}

.modal-shown {
  transform: translate(0, 0);
  transform-origin: bottom center;
}

.move-up {
  @apply transition-transform -translate-y-full translate-x-0  ease-in-out delay-1000 duration-[2000ms];
}

.modal-show-animation {
  @apply transition-transform delay-1000 duration-1000 ease-in-out;
}
